<%-include("partials/header") -%>
<h1 class="v1 v3">Compose</h1>

<form  action="/compose" method="post">
<div   form-group">
    <label class="v1 v3" >Title</label>
      <input type="text" class="post1 form-control" cols="220" rows="3" name="in1"> </input>
      <label class="v1 v3">Post</label>
      <textarea type="text" class="post1 form-control" cols="220" rows="10" name="in2"> </textarea>
      <button type="sumbit" class=" btn btn-primary">puplish</button>
      </div>
</form>


<%-include("partials/footer") -%>